<div class="container" *ngIf="scoreCards">
    <div class="row mt-5 d-flex justify-content-end">
        <div class="col-lg-3">
            <input type="text" class="form-control" [(ngModel)]="memberfilter" (keyup)="filterByMember()" placeholder="Search by Fullname">
        </div>
        <div class="col-lg-5 h1 text-center fs-3 text-danger">ScoreCards</div>
        <div class="col-lg-2">
            <input type="month" class="form-control " [(ngModel)]="dateFilter" (change)="filterByDate()" name="bdaymonth">
        </div>
        <div class="col-lg-1">
            <button class="btn btn-sm btn-light" (click)="resetFilter()"><mat-icon>clear</mat-icon></button>
        </div>
    </div>

    
    <div class="row mt-2 ">
        <div class="col-lg-3 col-md-4 col-sm-6 card mb-2 " *ngFor="let s of filtredScoreCards">
            <img [src]="s.member.user.pdp" class="img w-100 h-100 card-header">
            <div class="card-body">
                <div class="row d-flex justify-content-between">
                    <div class="col">
                        <h3 class="fs-5">{{s.member.user.fullname}}</h3>
                    </div>
                    
                    <div class="col-4">
                        <button (click)="openScoreCardPopup(s.score_id)" class="btn btn-primary">Details</button>
                    </div>
                </div>
                <div class="row d-flex justify-content-between">
                    <div class="col-6">
                        <h3 class="fs-5 text-start">Score : {{ s.score | number:'1.0-2' }}</h3>

                    </div>
                    <div class="col-6">
                        <h3 class="text-danger text-end fs-6 mt-1">{{s.month}}/{{s.year}}</h3>
                    </div>
                    
                </div>
                
                
            </div>
        </div>



    </div>
</div>