<section class="settings_container" *ngIf="user!=undefined">
    <div class="settings">
        <div  class="settings_member">
            <img [src]="user.pdp" alt="img" class="user-profile">
            <h2>{{user.fullname}}</h2>
            <p *ngIf="user.member">Points : {{user.member.score|number:'1.0-2'}}</p>
        </div>
        <div  class="form_container">
            <form class="settings_form" [formGroup]="passwordChange"  method="post">
                <div class="form_part">
                    <div class="input_and_label">
                        <label for="">Old password :</label>
                        <input type="password" formControlName="oldPwd" name="oldPwd" class="text-dark" placeholder="Type your current password">
                    </div>
                </div>
                <div class="form_part">
                    <div class="input_and_label">
                        <label for="">New password :</label>
                        <input type="password" formControlName="newPwd" name="newPwd" class="text-dark" placeholder="Type a new Password">
                    </div>
                    <div class="input_and_label">
                        <label for="">Confirm password :</label>
                        <input type="password" formControlName="newPwd2" name="newPwd2"  class="text-dark" placeholder="Confirm that password">
                    </div>
                </div>
                
                <button type="submit" (click)="changePassword()" [disabled]="checkFields()" class="btn btn-danger">Change Password</button>
            </form>
        </div>
    </div>
</section>