.borderStyle{
    border-top: 4px solid #ea4335;
    border-bottom:4px solid #fbbc04;
    border-left: 4px solid #34a853;
    border-right: 4px solid #4285f4;
    border-radius:8px;
    box-shadow: 0px 0px 20px 3px rgba(0, 0, 0, 0.335);
}

.minImg{
    min-width: 100% !important;
    min-height: 30vh !important;

}
.settings_container{
    display:flex;
    justify-content: center;
    align-items: center;
    height:100vh;
}
