<section class="settings_container bg-light" *ngIf="user!=undefined">
    <div class="card borderStyle mt-5" style="width: 20rem;">
        <img *ngIf="user.pdp!='test'" [src]="user.pdp" class="card-img-top" alt="...">
        <img *ngIf="user.pdp=='test'" src="https://s.wsj.net/public/resources/images/RV-AG477_GOOGLE_G_20120330181301.jpg" class="card-img-top minImg" alt="...">
        <div class="card-body d-flex flex-column align-items-center">
          <h5 class="card-title">{{user.fullname}}</h5>
          <form>
            <div class="form-group">
              <label for="exampleInputEmail1">Old password </label>
              <input type="password" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" formControlName="oldPwd" name="oldPwd"  placeholder="Type your current password">
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">New password </label>
              <input type="password" class="form-control" id="exampleInputPassword1"formControlName="newPwd" name="newPwd" placeholder="Type a new Password">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">New password </label>
                <input type="password" class="form-control" id="exampleInputPassword1" formControlName="newPwd2" name="newPwd2" placeholder="Confirm that password">
            </div>
            <div class="d-flex justify-content-center mt-3">
                <button type="submit" (click)="changePassword()" [disabled]="checkFields()" class="btn btn-danger">Change Password</button>
            </div>
            </form>
        </div>
      </div>
    
</section>



  