<mat-toolbar class="toolbarstyle" >
    <mat-toolbar-row > 
        <button (click)="sidenav.toggle();" mat-icon-button>
            <mat-icon class="menu_button">menu</mat-icon>
        </button>
        <div class="title_and_logo">
            <h1 class="title">Isetch Google Club</h1>
            <img src="../assets/images/Untitled__2_-removebg-preview.png" alt="" class="logo">
        </div>
    </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container>
    <mat-sidenav #sidenav class="sidenav">
        <mat-nav-list>
            <a mat-list-item routerLink="/home">
                <div class="sidebar_item">
                    <mat-icon class="sidebar_icon">home</mat-icon>
                    Home
                </div>
            </a>
            <a mat-list-item routerLink="/admin/home">
                <div class="sidebar_item">
                    <mat-icon class="sidebar_icon">dashboard</mat-icon>
                    Dashboard
                </div>
            </a>
            <a mat-list-item routerLink="events">
                <div class="sidebar_item">
                    <mat-icon class="sidebar_icon">person</mat-icon>
                    Events
                </div>
            </a>
            <a mat-list-item routerLink="content">
                <div class="sidebar_item">
                    <mat-icon class="sidebar_icon">assignment</mat-icon>
                    Content
                </div>
            </a>
            <a mat-list-item routerLink="tasks">
                <div class="sidebar_item">
                    <mat-icon class="sidebar_icon">playlist_add_check</mat-icon>
                    Tasks
                </div>
            </a>
            <a mat-list-item routerLink="applications">
                <div class="sidebar_item">
                    <mat-icon class="sidebar_icon">assignment</mat-icon>
                    Applications
                </div>
            </a>
            <a mat-list-item routerLink="scorecards">
                <div class="sidebar_item">
                    <mat-icon class="sidebar_icon">assessment</mat-icon>
                    Scorecard
                </div>
            </a>
            <a mat-list-item>
                <div class="sidebar_item" (click)="openPasswordPopup()">
                    <mat-icon class="sidebar_icon">https</mat-icon>
                    Password
                </div>
            </a>
            <a mat-list-item  (click)="openSignoutPopup()">
                <div class="sidebar_item">
                    <mat-icon class="sidebar_icon">keyboard_backspace</mat-icon>
                    Sign out
                </div>
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content style="height:90%;width:100%;">
        <router-outlet></router-outlet>
    </mat-sidenav-content>

</mat-sidenav-container>


<!-- <div class="nav toolbarstyle h-25">
    <div class="d-flex align-items-center col-4 bg-danger">
        <img src="../assets/images/Untitled__2_-removebg-preview.png" alt="" class="img col-2 h-25 w-25">
        <h1 class="title">Isetch Google Club</h1>
    </div>
    <a data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
        <mat-icon class="menu_button">menu</mat-icon>
    </a>
</div>


<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvas" aria-labelledby="offcanvasLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasLabel">Navigation Menu</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <a class="" routerLink="/home">
            <div class="sidebar_item">
                <mat-icon class="sidebar_icon">home</mat-icon>
                Home
            </div>
        </a>
        <a routerLink="/admin/home">
            <div class="sidebar_item">
                <mat-icon class="sidebar_icon">dashboard</mat-icon>
                Dashboard
            </div>
        </a>
        <a routerLink="events">
            <div class="sidebar_item">
                <mat-icon class="sidebar_icon">person</mat-icon>
                Events
            </div>
        </a>
        <a routerLink="content">
            <div class="sidebar_item">
                <mat-icon class="sidebar_icon">assignment</mat-icon>
                Content
            </div>
        </a>
        <a routerLink="tasks">
            <div class="sidebar_item">
                <mat-icon class="sidebar_icon">playlist_add_check</mat-icon>
                Tasks
            </div>
        </a>
        <a routerLink="applications">
            <div class="sidebar_item">
                <mat-icon class="sidebar_icon">assignment</mat-icon>
                Applications
            </div>
        </a>
        <a routerLink="scorecards">
            <div class="sidebar_item">
                <mat-icon class="sidebar_icon">assessment</mat-icon>
                Scorecard
            </div>
        </a>
        <a>
            <div class="sidebar_item" (click)="openPasswordPopup()">
                <mat-icon class="sidebar_icon">https</mat-icon>
                Password
            </div>
        </a>
        <a (click)="openSignoutPopup()">
            <div class="sidebar_item">
                <mat-icon class="sidebar_icon">keyboard_backspace</mat-icon>
                Sign out
            </div>
        </a>
    </div>
</div> -->