<div class="shared_component" *ngIf="event!=undefined">
    <h3>{{event.title}}</h3>
    <h3>{{event.dateEvent|date:'dd-MM-YYYY H:mm'}}</h3>
    <h3>{{event.place}}</h3>
    <img [src]="event.pic" alt=""  class="component_image">
    <div class="component_buttons">
        <button class="single_button" (click)="openDetailsPopup(event.id,'events')">Details</button>
        <button class="single_button" (click)="openModifyPopup(event.id,'events');">Modify</button>
        <button class="single_button" (click)="openDeletePopup(event.id,'events');">Delete</button>
    </div>
</div>
<div class="row" *ngIf="task!=undefined">
    <h3 class="col text-center ">{{task.title}}</h3>
    <h3 class="col">{{task.ddl|date:'dd-MM-YYYY H:mm'}}</h3>
    <h3 class="col">{{task.department.name}}</h3>
    <img  [src]="task.pic" alt=""  class="component_image col">
    <div class="col-3">
        <button class="single_button" (click)="openDetailsPopup(task.id,'tasks')">Details</button>
        <button class="single_button" (click)="openModifyPopup(task.id,'tasks');">Modify</button>
        <button class="single_button" (click)="openDeletePopup(task.id,'tasks');">Delete</button>
    </div>
</div>
<div class="shared_component" [ngClass]="{'text-danger':app.status==-1,'text-dark':app.status==0,'text-success':app.status==1}" *ngIf="app">
    <h3>{{app.fullname}}</h3>
    <h3>{{app.mail}}</h3>
    <h3>{{app.depart}}</h3>
    <h3>{{app.clubsExperience}}</h3>
    <div class="component_buttons">
        <button class="single_button" (click)="openDetailsPopup(app.id,'application')">Details</button>
        <button class="btn btn-danger" (click)="updateApplication(app,1)" [disabled]="app.status!=0">Accept</button>
        <button class="btn btn-dark" (click)="updateApplication(app,-1)" [disabled]="app.status!=0">Refuse</button>
    </div>
</div>

<!-- <div class="" *ngIf="event!=undefined">
    <h3>{{event.title}}</h3>
    <h3>{{event.dateEvent|date:'dd-MM-YYYY H:mm:ss'}}</h3>
    <h3>{{event.place}}</h3>
    <img [src]="event.pic" alt=""  class="">
    <div class="">
        <button class="" (click)="openDetailsPopup(event.id,'events')">Details</button>
        <button class="" (click)="openModifyPopup(event.id,'events');">Modify</button>
        <button class="" (click)="openDeletePopup(event.id,'events');">Delete</button>
    </div>
</div>
<div class="row" *ngIf="task!=undefined">
    <h3 class="col text-center ">{{task.title}}</h3>
    <h3 class="col">{{task.ddl|date:'dd-MM-YYYY H:mm:ss'}}</h3>
    <h3 class="col">{{task.department.name}}</h3>
    <div class="col">
        <img  [src]="task.pic" alt=""  class="img w-75 h-100 ">
    </div>
    
    <div class="col-3">
        <button class="" (click)="openDetailsPopup(task.id,'tasks')">Details</button>
        <button class="" (click)="openModifyPopup(task.id,'tasks');">Modify</button>
        <button class="" (click)="openDeletePopup(task.id,'tasks');">Delete</button>
    </div>
</div>
<div class="" *ngIf="candidat!=undefined">
    <h3>{{candidat.fullname}}</h3>
    <h3>{{candidat.mail}}</h3>
    <h3>{{candidat.classe}}</h3>
    <h3>{{candidat.depart}}</h3>
    <div class="">
        <button class="" (click)="openDetailsPopup(candidat.id,'candidat')">Details</button>
    </div>
</div> -->