<div class="container-fluid">
    <div class="row">
        <div class="col-2 mt-3">
            <h5 class="text-center  mb-5">Search for Content</h5>
            <div class="" *ngFor="let d of departs">
                <label [for]="d.id">{{d.name}}</label>
                <input type="radio" [value]="d.name" [(ngModel)]="departfilter"  (click)="filterByDepart(d.name)" name="dep_choice" [id]="d.id">
            </div>
            <div class="search_part">
                <label for="Both">Both</label>
                <input type="radio" checked (click)="filterByDepart('all')" name="dep_choice" id="">
            </div>
            <div class="">
                <input type="text" class="form-control" [(ngModel)]="memberFilter" (keyup)="filterByMember()" placeholder="search By Member">
            </div>
        </div>
        <div class="col-8 mt-3">
            <h5 class="text-center">Content</h5>
            <app-single-component *ngFor="let w of filtredWorks.reverse()" [work]="w"></app-single-component>
        </div>
    </div>
    
</div>