

<div class="container d-flex justify-content-center align-items-center  mt-5 minH ">
    <div class="card mb-3 mt-5 boxShadowCard h-50 bg-dark text-white"  *ngIf="work">
        <div class="row g-0">
          <div class="col-md-4">
            <img [src]="work.task.pic" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">{{work.task.title}}</h5>
              <p class="card-text">{{work.task.description}}</p>
              <p class="card-text"><small class="text-body-secondary">Deadline : {{work.task.ddl}}</small></p>
              <p>{{work.task.score}} Point</p>


              <div class="mb-3">
                <label for="basic-url" class="form-label">Your  URL</label>
                <div class="input-group">
                  <input type="text" class="form-control" id="work" [(ngModel)]="work.url" aria-describedby="basic-addon3 basic-addon4">
                </div>
              </div>
         
              <!--buttons-->
              <div class="mt-4">
                <button (click)="submitWork()" [disabled]="!work.status" class="btn btn-success m-1">Submit & Claim</button>
                <a routerLink="../../works" class="read-more text-danger">cancel</a>
              </div>
            
            </div>
          </div>
        </div>
      </div>
</div>