<div class="container" *ngIf="roles">
    <div class="row"></div>

    <form action="" [formGroup]="adminForm">
        <div class="row">
            <div class="col-6">
                <h2 class="text-center">User data :</h2>
                <div class="row">
                    <div class="col-3"></div>
                    <div class="col-6">
                        <input type="text" class="form-control " formControlName="username" placeholder="Username :">
                    </div>
                    <div class="col-3"></div>
                </div>
                <div class="row">
                    <div class="col-3"></div>
                    <div class="col-6">
                        <input type="text" class="form-control" formControlName="fullname" placeholder="Fullname :">
                    </div>
                    <div class="col-3"></div>
                </div>
                <div class="row">
                    <div class="col-3"></div>
                    <div class="col-6">
                        <input type="text" class="form-control" formControlName="mail" placeholder="Mail :">
                    </div>
                    <div class="col-3"></div>
                </div>
                <div class="row">
                    <div class="col-3"></div>
                    <div class="col-6">
                        <input type="password" class="form-control" formControlName="password" placeholder="Password :">
                    </div>
                    <div class="col-3"></div>
                </div>
            </div>
            <div class="col-6">
                <h2>Roles</h2>
                <ng-container *ngFor="let r of roles">
                    {{ r.name }}
                    <input type="checkbox" (click)="selectRole(r)"  ><br>
                </ng-container>
            </div>

        </div>

        <div class="row">
            <button class="btn btn-danger" (click)="addAdmin()" [disabled]="selectedRoles.length==0">Add Admin</button>
        </div>

    </form>


</div>