.points_popup{
    min-width:300px;
    max-width:auto; 
    max-width:auto;
    background-color:#E8E8E8;
}
.points_table{
    width:100%;
}
.thead_style,tr{

    width:100%;
    padding:15px;
}
.tbody_style tr{
    border-top:2px solid black;
}
.thead_style, .tbody_style tr{
    display:flex;
    justify-content: space-between;
}
.close_icon{
    margin-top: 2px;
    margin-right: 20px;
}

.bg{
    background-image: url(https://wallpapercave.com/wp/wp7088566.png);
    background-repeat: repeat;
    background-size: cover;
}