<div class="member_card" *ngIf="member">

    <img [src]="member.user.pdp" alt="" class="member_image">
    <div class="member_info">
        <div>
            <h3>{{member.user.fullname}}</h3>
            <!-- <h3>{{depart}}</h3> -->
        </div>
        <div>
            <button (click)="deleteMember(member.member_id)"><mat-icon>delete</mat-icon></button>
            <button (click)="toAdmin(member)"><mat-icon>https</mat-icon></button>
        </div>
    </div>

</div>
<div class="member_card" *ngIf="admin">

    <img [src]="admin.user.pdp" alt="" class="member_image">
    <div class="member_info">
        <div>
            <h3>{{admin.user.fullname}}</h3>
        </div>
    </div>

</div>