<div class="password_popup">
    <div class="popup_header">
        <h1 class="title_password">Change Your Password:</h1>
        <mat-icon class="close_icon_password" mat-button [mat-dialog-close]="true">close</mat-icon>
    </div>
    <form [formGroup]="passwordChange" (ngSubmit)="updateAdmin()">
        <table class="password_table">
            <tr>
                <td>
                    <label for="">Old Password</label>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="password" formControlName="pwd" name="pwd">
                </td>
            </tr>
            <tr>
                <td>
                    <label for="">New Password</label>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="password" formControlName="newPwd" name="newPwd">
                </td>
            </tr>
        </table>
        <div class="center_button">
            <input type="submit" value="Submit" class="single_button popup_button">
        </div>
    </form>

</div>