<div class="container">
    <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="closePopup()" aria-label="Close"></button>
    <table class="table">
        <tr class="row">
            <th class="col border">Member name</th>
            <th class="col">Present</th>
            <th class="col border">updated By</th>
            <th class="col border">updated At</th>
        </tr>
        <tr *ngFor="let t of membersEvent">
            <td class="col-3">{{t.member.user.fullname}}</td>
            <td class="col-3"><input type="radio" [checked]="t.present" (click)="updatePresence(t)"></td>
            <td class="col" >{{t.updatedBy?.user?.fullname}}</td>
            <td class="col" >{{t.updatedAt | date:'dd/MM/YYYY H:mm:ss'}}</td>
        </tr>
    </table>
</div>