<!-- <div class="container">
    <div class="recent_tasks">
        <app-recent-tasks></app-recent-tasks>
    </div>
    <div class="leaderboard">
        <app-leader-board></app-leader-board>
    </div>
    <div class="admins" >
        <h2 class="text-center">Users</h2>
        <button class="btn btn-primary " (click)="openAddAdmin()">Add admin</button>
        <div class="members_container">
            <app-member-card *ngFor="let u of users" [user]="u" ></app-member-card>
        </div>
    </div>
</div> -->

<div class="container-fluid ">
    <div class="row my-4 ">
        <div class="col-md-8  mb-5">
            <app-recent-tasks></app-recent-tasks>
        </div>
        <div class="col-md-4 d-flex justify-content-center">
            <app-leader-board></app-leader-board>
        </div>
    </div>
    
    <div class="row" >
        <h2 class="text-center ">Users</h2>
    </div>
    <div class="row mb-2 mx-2 ">
        <button class="btn btn-primary col-lg-1 col-md-2 col-sm-3  " (click)="openAddAdmin()">Add admin</button>
    </div>
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6 d-flex justify-content-center" *ngFor="let u of users">
                <app-member-card  [user]="u" class=""></app-member-card>
            </div>
        </div>
</div>