<div class="container">
    <div class="recent_tasks">
        <app-recent-tasks></app-recent-tasks>
    </div>
    <div class="leaderboard">
        <app-leader-board></app-leader-board>
    </div>
    <div class="admins" >
        <h2 style="text-align: center;">Admins</h2>
        <button class="btn btn-primary " (click)="openAddAdmin()">Add admin</button>
        <div class="members_container">
            <app-member-card *ngFor="let a of admins" [admin]="a" ></app-member-card>
        </div>
    </div>
    <div class="members" >
        <h2 style="text-align: center;">Members</h2>
        <div class="members_container">
            <app-member-card *ngFor="let m of members" (ajoutAdmin)="update($event)" (suppression)="miseajour($event)" [member]="m" ></app-member-card>
        </div>
    </div>
</div>