<div class="container">
    <div class="recent_tasks">
        <app-recent-tasks></app-recent-tasks>
    </div>
    <div class="leaderboard">
        <app-leader-board></app-leader-board>
    </div>
    <div class="admins" >
        <h2 style="text-align: center;">Users</h2>
        <button class="btn btn-primary " (click)="openAddAdmin()">Add admin</button>
        <div class="members_container">
            <app-member-card *ngFor="let u of users" [user]="u" ></app-member-card>
        </div>
    </div>
</div>