
<div class="row" *ngIf="page=='app'">
    <h3 class="col text-center">Fullname</h3>
    <h3 class="col text-center">Mail</h3>
    <h3 class="col text-center">Depart</h3>
    <h3 class="col text-center">Clubs Experience</h3>
    <h3 class="col-3 text-center">Actions</h3>
</div>

<div class="row" *ngIf="page=='tasks' || page=='events'">
    <h3 class="col text-center">Title</h3>
    <h3 class="col text-center">Date</h3>
    <h3 class="col text-center" *ngIf="page=='tasks'">Dep</h3>
    <h3 class="col text-center" *ngIf="page=='events'">Place</h3>
    <h3 class="col text-center">Image</h3>
    <h3 class="col-3 text-center">Actions</h3>
</div>