<div class="details_popup" *ngIf="event!=undefined">
    <div class="popup_header">
        <h2 class="shared_popup_title">Details:</h2>
        <mat-icon class="close_icon" mat-button [mat-dialog-close]="true" style="margin-top:-85px">close</mat-icon>
    </div>
    {{event.description}}

    <button class="btn btn-danger" (click)="openPresencePopup()">view presence</button>
</div>
<div class="details_popup" *ngIf="task!=undefined">
    <div class="popup_header">
        <h2 class="shared_popup_title">Details:</h2>
        <mat-icon class="close_icon" mat-button [mat-dialog-close]="true" style="margin-top:-85px">close</mat-icon>
    </div>
    {{task.description}}
</div>
<div class="details_popup" *ngIf="application">
    <div class="popup_header">
        <h2 class="shared_popup_title">Details:</h2>
        <mat-icon class="close_icon" mat-button [mat-dialog-close]="true" style="margin-top:-85px">close</mat-icon>
    </div>
    Reason : {{application.reason}} <br>
    Skills :{{application.skills}} <br>
    Club's Experience : {{application.clubsExperience}}
</div>